@using URLcrowlerWEB.Models;

@{
    ViewBag.Title = "URL adresai esantys portale lrytas.lt";
}

<h2>URL adresai esantys portale lrytas.lt</h2>


@foreach (var std in ViewData["URLadresai"] as IList<UrlAdresai>)
{

    @std.urlAdresas

}

@foreach (var std in ViewData["EMAILadresai"] as IList<EmailAdresai>)
{

    @std.emailAdresas

}

